@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    background-color: #D9D9D9;
}

header{

    background-color: #3A99F1;
}

nav {
    height: 5vh;
    background-color: #2384DE;
}
    
footer {
    height: 15vh;
    background-color: #3A99F1;
}

#carouselContenido {
    display: flex;
    justify-content: center;
}

.botonFooter  {
    color: white;
    background-color: #2384DE;
}

.botonSiguiente {
    color: white;
    background-color: #3A99F1;
}

.botonTucosmo {
    margin: 15px;
    padding: 30px;
    border-radius: 40px;
    background-color: white;
    
}



#radioBusqueda {
    padding: 10px;
    margin: 10px;
}

.filtrosAside ul li a {
    color: #6d6d6d;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* CONTACTO */

.formContacto fieldset {
    padding: 10px;
    border: 2px solid #3A99F1;
    border-radius: 10px;
}
.formContacto input {
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px solid #3A99F1;
    border-radius: 10px;
    font-weight: 400;
    width: 200px;
    padding: 10px;
}
.formContacto textarea {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    border: 2px solid #3A99F1;
    border-radius: 10px;
}


@media (max-width: 768px) {
    
    .carousel-item img {
        height: 250px;
        width: 400px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    .carousel-item img {
        height: 300px;
        width: 600px;
    }
}

@media (max-width: 992px) {
    
    header div section form {
        margin: 10px;
    }
    nav {
        height: max-content;
    }
    footer div {
        justify-content: center;
    }
    #botonVender {
        justify-content: center;
    }
}