@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.tucosmoint {
    width: 500px;
    padding: 20px;
}
section article h2 {
    padding: 10px;
}
section article p {
    padding: 10px;
}

body {
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    background-color: #D9D9D9;
}

header{
    height: 10vh;
    background-color: #3A99F1;
}

nav {
    height: 5vh;
    background-color: #2384DE;
}
    
footer {
    height: 15vh;
    background-color: #3A99F1;
}

#carouselContenido {
    display: flex;
    justify-content: center;
}

.botonFooter  {
    color: white;
    background-color: #2384DE;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

main section h3 {
    color: #6d6d6d;
    margin: 0px 20px;
}
main section article {
    margin: 20px 0px;
}
main section article button {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    display: inline-block;
    color: #6d6d6d;
    height: 80px;
    padding: 20px;
    margin: 10px;
    border-radius: 55px;
    border: 2px #6d6d6d solid;
    position: relative;
    left: 200px;
}
.zonabusqueda {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    border: 1px #6d6d6d solid;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

#radioBusqueda {
    padding: 10px;
    margin: 10px;
    color: #3A99F1;

}
.ubicacion{
    display: inline-block;
}
div label {
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    background-color:#D9D9D9;
    color: #6d6d6d;
    border: 0px;
    border-radius: 5px;
    display: inline-block;
}

.filtrosAside {
    width: 200px;
    background-color: #D9D9D9;
    margin: 10px -20px;
    padding: 10px;
    border: 0px solid;
    border-radius: 10px;
    display: inline-block;
}
.filtrosAside ul {
    list-style-type: none;
}
.filtrosAside ul li a {
    text-decoration: none;
    color: #6d6d6d;
}
.filtrosAside h3 {
    text-align: center;
}
.filtrosAside h4 {
    margin: 10px;
    text-decoration: underline;
    color:#2e2e2e;
}
.publicacionesUsed {
    /* Publicaciones Usados */
    position: relative;
    bottom: 500px;
    left: 200px;
    width: 250px;
    background-color: #D9D9D9;
    border: 2px #D9D9D9 solid;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
}
.publicacionesNew {
        /* Publicaciones 0KM */
        position: relative;
        bottom: 540px;
        left: 200px;
        width: 250px;
        background-color: #D9D9D9;
        border: 2px #D9D9D9 solid;
        border-radius: 5px;
        margin: 10px;
        display: inline-block;
}
.formularioVenta form div {
    height: 150px;
    background-color:#D9D9D9;
    text-align: center;
}
.formularioVenta form div h3 {
    padding: 10px;
    margin: 5px;
    color: #2e2e2e;

}

#ModelBrands {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: medium;
    padding: 10px;
    width: 500px;
    border: 2px #2384DE solid;
    border-radius: 8px;

}

/* VENDE TU AUTO */

.formularioVenta select {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: large;
    padding: 10px;
    height: 100px;
    width: 300px;
    border: 2px #2384DE solid;
    border-radius: 8px;
}
.botonVenta {
    position: relative;
    right: 200px;
    color: white;
    background-color: #3A99F1;
    padding: 10px;
    height: 50px;
    border: 3px white solid;
    border-radius: 10px;
}

/* CONTACTO */

.formContacto fieldset {
    padding: 10px;
    border: 2px solid #3A99F1;
    border-radius: 10px;
}
.formContacto input {
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px solid #3A99F1;
    border-radius: 10px;
    font-weight: 400;
    width: 200px;
    padding: 10px;
}
.formContacto textarea {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    border: 2px solid #3A99F1;
    border-radius: 10px;
}
.formContacto h2 {
    padding: 10px;
}
.formContacto p {
    padding: 10px;
}

@media (max-width: 768px) {
    nav {
        display: none;
    }
}