.carouselContenido {
    div {
        img {
            width: 800px;
            height: 450px;
        }
    }
}
.cardsPublicaciones{
    
        div {
            img {
                height: 200px;
            }
        }
    
}
.botonFooter  {
    color: $blanco;
    background-color: $azulNav;
}

.botonSiguiente {
    color: $blanco;
    background-color: $azulHeader;
}

.botonTucosmo {
    margin: 15px;
    padding: 30px;
    border-radius: 40px;
    background-color: $blanco;
    
}

#radioBusqueda {
    padding: 10px;
    margin: 10px;
}

.filtrosAside {
    ul {
        li {
            a {
                color: $grafito ;
            }
        }
    }
}