#carruselInicio {
    background-color: $grisClaro;
}

.carouselContenido {
    div {
        img {
            width: 800px;
            height: 450px;
        }
    }
}


.sectionPublis{
   margin-bottom: 50px;

    
}

    .cardsPublicaciones{
        div {       
            overflow: hidden;
            width: 15rem;
            transition: all 0.6s ease;
            &:hover {
                transform: scale(1.04);          
            }
            img {
                height: 180px;
            }
    
        }
}
.tucosmoInt {
                     
    overflow: hidden;
}

#intVehiculos {
    height: 20vh;
    
}

#sectionUsados {
    overflow: hidden;
}

#sectionNuevos {
    overflow: hidden;
}

#radioBusqueda {
    padding: 10px;
    margin: 10px;
}

.filtrosAside {
    ul {
        li {
            a {
                color: $grafito ;
            }
        }
    }
}

#error404 {
    img {
        width: 400px;
        height: 400px;
}
}