.carouselContenido {
    div {
        img {
            width: 800px;
            height: 450px;
        }
    }
}
.cardsPublicaciones{
        div {
            width: 16rem;
            img {
                height: 200px;
            }
        }
    
}

.botonFooter  {
    color: $blanco;
    background-color: $azulNav;
}
.tucosmoInt {
                     
    overflow: hidden;
}

#intVehiculos {
    height: 20vh;
    
}

#btnVehiculos {
    height: 55vh;
}

#sectionUsados {
    overflow: hidden;
}

#sectionNuevos {
    overflow: hidden;
}

.botonSiguiente {
    color: $blanco;
    background-color: $azulHeader;
}

.botonVehiculos {
    font-size: larger;
    color: $blanco;
    background-color: $azulHeader;
}


.botonTucosmo {
    margin: 15px;
    padding: 30px;
    border-radius: 40px;
    background-color: $blanco;
    
}

#radioBusqueda {
    padding: 10px;
    margin: 10px;
}

.filtrosAside {
    ul {
        li {
            a {
                color: $grafito ;
            }
        }
    }
}