
@media (max-width: 576px) {
    .carouselContenido {
        div {
            img {
                height: 150px;
                width: 250px;
            }
        }
    }
    .cardsPublicaciones{
        div {
            width: 11rem;
            img {
                height: 150px;
            }
        }
    
    }

}

@media (max-width: 768px) {
    
    .carouselContenido {
        div {
            img {
                height: 250px;
                width: 400px;
            }
        }

    }
}

@media (min-width: 768px) and (max-width: 992px) {

    
    .carouselContenido {
        div {
            img {
                height: 300px;
                width: 600px;
            }
        }


    }
}

@media (max-width: 992px) {
    
    header {
        div {
            section {
                form {
                    margin: 10px;
                }
            }
        }
        nav {
            height: max-content;
        }
    
    }
    footer {
        div {
            justify-content: center;
        }
    }

    #botonVender {
        justify-content: center;
    }

    
}

@media (min-width: 1400px) {
    .cardsPublicaciones{
        div {
            width: 17rem;
            img {
                height: 220px;
            }
        }
    
    }
    .carouselContenido {
        div {
            img {
                height: 600px;
                width: 950px;
            }
        }

    }
}
